body{
    overflow-x: hidden;
    background-color: #333;
}
*{
    margin: 0;
    padding: 0;
}
.ctn-principal{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*class e div genéricas
----------------------------------------------------*/

    /*class e div de font e alinhamento
    ----------------------------------------------------*/
    .mono-branco{
        font-family: monospace;
        color: white;
    }
    .centro{
        text-align: center;
    }
    .mono-branco{
        font-family: monospace;
        color: white;
    }
    .font-20px{
        font-size: 20px;
    }
    .font-35px{
        font-size: 35px;
    }
    .centro{
        text-align: center;
    }

    /*class e div de margin
    ----------------------------------------------------*/
    .margin-top-80px{
        margin-top: 80px;
    }

    .margin-top-20px{
        margin-top: 20px;
    }
    .margin-x-auto{
        margin-left: auto;
        margin-right: auto;
    }

    /*class e div largura e altura
    ----------------------------------------------------*/
    .widht-70{
        width: 70%;
    }
    .widht-90{
        width: 90%;
    }

/*Menu
----------------------------------------------------*/
nav{
    width: 100%;
    height: 140px;
}           
.btn {
    margin: 50px 20px;
    background-color: #6067c9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.menu {
    float: left;
    height: 135px;
}

.link {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 2;
    margin-top: -50px;
    margin-left: 35px;
}

.link a,.link a:link, .link a:active {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.link a:hover {
    background-color: #f1f1f1
}

.menu:hover .link {
    display: block;
}

.menu:hover .btn {
    background-color: #171b4e;
}
#logo {
    height: 100%;
    position: relative;
    left: 35%;
    top: 10px;
    z-index: 1;
}
            
#logo img {
    width: 250px;
}
/*noticias sobre o assunto
----------------------------------------------------*/
#titulo{
    width: 55%;
    background-color: white;
    border-radius: 1%;
    padding: 3%;
    margin: 5% 20%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}
#box-1{
    width: 30%;
    float: left;
    left: 0%;
    margin: 0% 2% 0% 18%;
}
#box-2{
    width: 30%;
    float: right;
    right: 0%;
    margin: 0% 18% 0% 2%;
}
#box-3{
    clear: both;
    width: 30%;
    float: left;
    left: 0%;
    bottom: 0%;
    margin: 2% 2% 2% 18%;
}
#box-4{
    float: right;
    width: 30%;
    position: relative;
    right: 0%;
    bottom: 0%;
    margin: 2% 18% 2% 2%;
}
#box-5{
    clear: both;
    width: 30%;
    float: left;
    left: 0%;
    bottom: 0%;
    margin: 2% 2% 2% 18%;
}
#box-6{
    float: right;
    width: 30%;
    position: relative;
    right: 0%;
    bottom: 0%;
    margin: 2% 18% 2% 2%;
}

/*Artigo
----------------------------------------------------*/
#noticiasp{
    width: 100%;
    height: auto;
    clear: both;
}
.noticiasp{
    padding: 5%;
    border-radius: 1%;
    background-color: white;
}
.index-img{
    width:100%;
    height: auto;
}
.index-text{
    width: 100%;
    overflow: hidden;
}

/*index
----------------------------------------------------*/

.ctn-noticiasPrincipais{
    overflow: hidden;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./imagens/fundo.png);
    height: auto;
    background-color: beige;
}

#ctn-artigos{
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: 5% 5% 5% 15%;
    background-color: white;
    border-radius: 1%;
    padding-top: 1%;
}
.ntcs-artigos{
    width: 99%;
    border-bottom: 1px solid grey;
    padding-bottom: 3%;
    margin:0% 0% 2% 0%;
    overflow: hidden;
    clear: both;
}
.home-img{
    width: 20%;
    float: left;
}
.home-text{
    width: 80%;
    float: right;
    overflow: hidden;
}
a{
   color: black;
}
a:link{
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #00008B;
    cursor: pointer;
}

.ctn-noticiasPrincipais img{
    width: 100%;
    height: auto;
}
.ctn-noticiasPrincipais p{
    font-size: 1.2vw;
    font-style: italic;
    margin-left: 2%;
}
.ctn-noticiasPrincipais h3{
    margin-left: 2%;
    font-size: 1.2vw;
    color: black;
    font-weight: bold;
}

.ctn-noticiasPrincipais a:link,
.ctn-noticiasPrincipais a:active, 
.ctn-noticiasPrincipais a:active,
.ctn-noticiasPrincipais a:hover{
    color: black;
}

/*rodape*/
/* alterações Yves: mudei a cor do footer*/  
footer{
    height: 100%;
    background-color:  #333;
    padding: 10px;
}
/*final das alterações Yves: mudei a cor do footer*/ 
#fot2{
    font-size: 1.7vw;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}
a:link{
    color: white;
}
#pfot{
    text-align: center;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icones{
    width: 2vw;
}

/*contatos e cadastro*/
#contato{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgb(206, 212, 212), #928a80);
}

.conteiner-ctt{
    width: 50%;
    min-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#contato2{
    height: auto;
    background: linear-gradient(to bottom,rgb(206, 212, 212), #928a80);
}

.conteiner-ctt2{
    width: 50%;
    min-width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.conteiner-ctt img,
.conteiner-ctt2 img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.conteiner-ctt input,
.conteiner-ctt2 input{
    height: 40px;
    width: 90%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 0px;
}

.conteiner-ctt textarea,
.conteiner-ctt2 textarea{
    width: 90%;
    height: 150px;
    font-size: 18px;
    margin-bottom: 10px;
}

#enviar input{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 5px 20px;
    height: 40px;
    width: 45%;
    background:linear-gradient(to bottom,#faa600, #f68a00);
}

.conteiner-ctt #nascimento{
    height: 40px;
    width: 60%;
    margin: 0;
    background-color: #fff;
    padding-left: 0px;
}
.conteiner-ctt #nascimentoL{
    display: inline-block;
    height: 40px;
    width: 30%;
    font-size: 18px;
    padding-left: 0px;
    background-color: white;
}

.conteiner-ctt h4{
    text-align: left;
    text-indent: 5%;
    margin: 0 0 5px 0;
}

.conteiner-ctt #estado-civil input, 
.conteiner-ctt #sexo input{
    width: 5%;
    height: 20px;
    margin-left: 10%;
}
.conteiner-ctt #estado-civil,
.conteiner-ctt #sexo{
    color: gray;
    text-align: left;
    margin: 0 0 10px 5%;
    background-color: #fff;
    width: 90%;
    border: 3px hidden black;
}

/*alterações Yves: tirei algumas coisas (outro-ntc, etc) e dimensionei os textos e imagens*/ 
/*Configurando para Mobile*/
@media (max-width: 550px){
    #logo{
        left: 30%;
    }
    #logo img{
        margin-left: -23%;
    }
}
@media (max-width: 700px) {
    /*Noticias principais*/
    .ctn-noticiasPrincipais{
        background-image: url(./imagens/fundo.png);
        height: auto;
        margin: 0px 0px 10px 0px;
    }

    #ctn-artigos{
        text-align: justify;
        font-size: 1.5vw;
    }

    .home-img{
        width: 80%;
        padding: 0 10% 0 10%;
    }
    .home-text{
        text-indent: 10%;
        width: 80%;
        padding: 0 10% 0 10%;
    }
    .menu2 li{
        font-size: 1.5vw;
    }
        
    /*rodape-Mobile*/
    footer{
        clear: both;
        background-color: #333;
        padding: 10px;
    }
}
/* final das alterações Yves*/ 